{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row flex-nowrap">
        <div class="col-md-3 min-vh-100 px-5 py-3 d-flex flex-column" style=" border-right: 2px solid #d4d4d4; ">
            <div class="d-flex align-items-center" style="border-radius: 10px;">
                <div class="rounded-circle overflow-hidden me-3" style="width: 50px; height: 50px; border: 2px solid #fff;">
                    <!-- Dito malalagay image ng company-->
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                </div>
                <div>
                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                    </a>
                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-2 py-sm-0 mt-3">
                    <a href="{% url 'create-job' %}" class="nav-link fw-bold" style="background-color:  #E9EBFD; color: #372554;">
                        <i class="fa-solid fa-gauge" style="width: 20px; height: 20px;"></i><span class="fs-6 ms-2 d-none d-sm-inline" >Create Job Listing</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'manage-jobs' %}" class="nav-link">
                        <i class="fa-solid fa-users" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Manage Jobs</span>
                    </a>
                </li>
                <hr>
                <p class="ms-3 py-2">Setting</p>
                <li class="nav-item my-2 py-sm-0">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-user-tie" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Change Password</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0 mb-3">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-file-contract" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Edit Profile</span>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="col-md-9">
    
            <div class="row justify-content-center py-5">
                <div class="col-md-11 mb-5">
                    <div class="mt-2 mb-4" style="background-color: #F1F3F8;">
                        <div class="car-body">
            
                            <div class="mb-5 px-5">
            
                                <h2 class="card-title mb-1" style="color: #8A84E2;">Create a Job Listing</h2>
                                <span>Summarizing role details to attract applicants</span>
            
                            </div>


                            <form method="post">
                                {% csrf_token %}
                                <div class="row m-5">
                                    <hr class="mb-5">

                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554;"><i class="fa-regular fa-building me-3"></i>Job Title</h5>
                                        <span>Summarizing role details to attract applicants</span>
                                    </div>
                                    <div class="col-md-7 ms-3">
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Job Title</label>
                                            {% render_field form.title class="form-control p-3 rounded-3" placeholder="Enter Job title"%}
                                        </div> 
                                    </div><hr class="mb-5 mt-3">

                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554;"><i class="fa-solid fa-user-tie me-3"></i>Type of Employment</h5>
                                        <span>You can select type of employment</span>
                                    </div>
                                    <div class="col-md-7 ms-3">
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Job Type</label>
                                            {% render_field form.job_type class="form-control p-3" %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Salary</label>
                                            {% render_field form.salary class="form-control p-3 rounded-3" placeholder="Enter Salary" %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Industry</label>
                                            {% render_field form.industry class="form-control p-3 rounded-3" %}
                                        </div>
                                    </div><hr class="mb-5 mt-3">

                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554;"><i class="fa-solid fa-earth-asia me-3"></i>Location</h5>
                                        <span>Specify the location of the company or workplace.</span>
                                    </div>
                                    <div class="col-md-7 ms-3 mb-3">
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">City</label>
                                            {% render_field form.city class="form-control p-3 rounded-3" placeholder="Enter City" %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Country</label>
                                            {% render_field form.state class="form-control p-3 rounded-3" %}
                                        </div>
                                    </div><hr class="py-3">


                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554;"><i class="fa-regular fa-rectangle-list me-3"></i></i>Skills</h5>
                                        <span>Add required skills for the job.</span>
                                    </div>
                                    <div class="col-md-7 ms-3">
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Job Requirements</label>
                                            {% render_field form.requirements|attr:"row:2" class="form-control p-3" placeholder="Enter job requirements" %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Ideal Candidate</label>
                                            {% render_field form.ideal_candidate|attr:"row:2" class="form-control p-3" placeholder="Enter ideal candidate" %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputEmail" class="form-label">Is this Job Available</label>
                                            {% render_field form.is_available class="form-check-input" %}
                                        </div>
                                    </div>
                                </div><hr class="mb-5">
                                <div class="text-end px-5"><button type="submit" class="btn rounded-3 p-2 text-white" style="width: 150px; background-color: #372554; right: 0; bottom: 0;">Submit</button></div>
                            </form>



























                            
                            <div class="container px-5">
                                
                                
                                    
                                    
                                    
                                
                                    
                                    
                                    
                                    

                                    
                
                                    
                                

                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div>
    
    </div>

</div>

<script src="https://kit.fontawesome.com/e9e220f4bb.js" crossorigin="anonymous"></script>
{% endblock content %}