{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row flex-nowrap">
        <div class="col-md-3 min-vh-100 px-5 py-3 d-flex flex-column" style=" border-right: 2px solid #d4d4d4; ">
            <div class="d-flex align-items-center" style="border-radius: 10px;">
                <div class="rounded-circle overflow-hidden me-3" style="width: 50px; height: 50px; border: 2px solid #fff;">
                    <!-- Dito malalagay image ng company-->
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                </div>
                <div>
                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                    </a>
                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-2 py-sm-0 mt-3">
                    <a href="{% url 'create-job' %}" class="nav-link">
                        <i class="fa-solid fa-circle-plus" style="width: 20px; height: 20px;"></i><span class="fs-6 ms-2 d-none d-sm-inline" >Create Job Listing</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'manage-jobs' %}" class="nav-link fw-bold"  style="background-color:  #E9EBFD; color: #372554;">
                        <i class="fa-solid fa-list-check" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Manage Jobs</span>
                    </a>
                </li>
                <hr>
                <p class="ms-3 py-2">Setting</p>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'recruit-change-pass' %}" class="nav-link">
                        <i class="fa-solid fa-key" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Change Password</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0 mb-3">
                    <a href="{% url 'recruit-change-profile' %}" class="nav-link">
                        <i class="fa-solid fa-pen-to-square" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Edit Profile</span>
                    </a>
                </li>
            </ul>
           
            
            
        </div>
        <div class="col-md-9">
            <div class="p-5 m-3" style="background-color: #F1F3F8;">
                <div class="card-body ">
                    <h2 class="card-title mb-4" style="color: #8A84E2;">Manage Jobs</h2>
                    <hr class="mt-5">
                    <h5 class="mb-4">Job Listing</h5>
                    
                    <div class="card p-4 rounded-4">

                            <table class="table" >
                        <thead>
                            <tr>
                                <th scope="col" class="text-center text-secondary">Job Title</th>
                                <th scope="col" class="text-center text-secondary">No. of Applicants</th>
                                <th scope="col" class="text-center text-secondary">Location</th>
                                <th scope="col" class="text-center text-secondary">Salary</th>
                                <th scope="col" class="text-center text-secondary">Status   </th>
                                <th scope="col" class="text-center text-secondary">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            <tr class="align-middle" style="height: 100px;">
                                <td class="text-center">{{job.title}}</td>
                                <td class="text-center px-5">
                                      {{ job.applyjob_set.all.count }}
                                      <a href="{% url 'all-applicants' job.pk %}" class="px-3 py-2" style="text-decoration: none; font-weight: 500; color: #8A84E2;">
                                        <small>View All</small>
                                      </a>
                                </td>
                                <td class="text-center">{{job.location}}</td>
                                <td class="text-center">{{job.salary}}</td>
                                {% if job.is_available %}
                                <td class="text-center"><span class="badge px-3 py-2" style="color: #56CDAD; border: 2px solid #56CDAD; border-radius: 20px; height: 30px; width: 90px; font-weight: bold;">Active</span></td>
                                {% else %}
                                <td class="text-center"><span class="badge px-3 py-2" style="color: #FF6550; border: 2px solid #FF6550; border-radius: 20px; height: 30px; width: 90px; font-weight: bold;">Inactive</span></td>
                                {% endif %}
                                <td class="text-center">
                                    <a class="btn text-white py-2 px-4" href="{% url 'update-job' job.pk %}" style=" background-color: #8A84E2;"><small>Update</small></a>    
                                    <a class="btn btn-danger  py-2 px-4" data-toggle="modal" data-target="#deleteModal"  ><i class="fa-regular fa-trash-can"></i></i></a>
                                    <!-- delete Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog  modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            
                                            <div class="modal-body text-center">
                                                <img src="https://drive.google.com/uc?id=1ui9e-7W1nVEzlVg_gsK6GdrKSxc28Jp-" alt="" style="height: 100px; width: 100px;">
                                                <h4 class="mx-5 my-3 text-danger">Delete Job</h4>
                                                <small>Are you sure you want to delete this job?</small>
                                
                                                <div class="text-center px-5 mt-4 mb-3">
                                                    <button type="button" href=""class="btn rounded-3 p- px-5 text-white btn-danger" onclick="confirmDelete()">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://kit.fontawesome.com/e9e220f4bb.js" crossorigin="anonymous"></script>

{% endblock content %}
