{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="container-fluid p-0">
    <div class="row flex-nowrap">
        <div class="col-md-3 min-vh-100 px-5 py-3 d-flex flex-column" style=" border-right: 2px solid #d4d4d4; ">
            <div class="d-flex align-items-center" style="border-radius: 10px;">
                <div class="rounded-circle overflow-hidden me-3" style="width: 50px; height: 50px; border: 2px solid #fff;">
                    <!-- Dito malalagay image ng company-->
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                </div>
                <div>
                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                    </a>
                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-2 py-sm-0 mt-3">
                    <a href="{% url 'create-job' %}" class="nav-link">
                        <i class="fa-solid fa-gauge" style="width: 20px; height: 20px;"></i><span class="fs-6 ms-2 d-none d-sm-inline" >Create Job Listing</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'manage-jobs' %}" class="nav-link fw-bold"  style="background-color:  #E9EBFD; color: #372554;">
                        <i class="fa-solid fa-users" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Manage Jobs</span>
                    </a>
                </li>
                <hr>
                <p class="ms-3 py-2">Setting</p>
                <li class="nav-item my-2 py-sm-0">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-user-tie" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Change Password</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0 mb-3">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-file-contract" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Edit Profile</span>
                    </a>
                </li>
            </ul>
           
            
            
        </div>
        <div class="col-md-9">

            <div class="row justify-content-center py-5">
                <div class="col-md-11 mb-5">
                    <div  class="mt-2 mb-4" style="background-color: #F1F3F8;">
                        <div class="car-body">
            
                            <div class="mb-5 px-5 ">
            
                                <h2 class="card-title mb-1" style="color: #372554;">Update Job</h2>
                                <span>Edit your Job Listing Details</span>
            
                            </div>

                            <form method="post" class="px-5">
                                {% csrf_token %}
                                <hr class="py-3">
                                <div class="mb-3">
                                    <label for="exampleInputEmail" class="form-label">Job Title</label>
                                    {% render_field form.title class="form-control  p-3 rounded-3" %}
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail" class="form-label">Salary</label>
                                    {% render_field form.salary class="form-control  p-3 rounded-3" %}
                                </div>
                                <div class="row">

                                    <div class="col-md-6 mb-3">
                                        <label for="exampleInputEmail" class="form-label">City</label>
                                        {% render_field form.city class="form-control p-3 rounded-3" %}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="exampleInputEmail" class="form-label">Country</label>
                                        {% render_field form.state class="form-control  p-3 rounded-3" %}
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail" class="form-label">Industry</label>
                                    {% render_field form.industry class="form-control  p-3 rounded-3" %}
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail" class="form-label">Job Type</label>
                                    {% render_field form.job_type class="form-control  p-3 rounded-3" %}
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail" class="form-label">Job Requirements</label>
                                    {% render_field form.requirements|attr:"row:2" class="form-control  p-3 rounded-3" %}
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail" class="form-label">Ideal Candidate</label>
                                    {% render_field form.ideal_candidate|attr:"row:2" class="form-control  p-3 rounded-3" %}
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail" class="form-label">Is this Job Available</label>
                                    {% render_field form.is_available class="form-check-input" %}
                                </div>
            
                                <button type="submit" class="w-100 btn rounded-3 p-2 text-white" style="background-color: #372554;" >Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/e9e220f4bb.js" crossorigin="anonymous"></script>


{% endblock content %}