{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="container-fluid p-0">
    <div class="row flex-nowrap">
        <div class="col-md-3 min-vh-100 px-5 py-3 d-flex flex-column" style=" border-right: 2px solid #d4d4d4; ">
            <div class="d-flex align-items-center" style="border-radius: 10px;">
                <div class="rounded-circle overflow-hidden me-3" style="width: 50px; height: 50px; border: 2px solid #fff;">
                    <!-- Dito malalagay image ng company-->
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                </div>
                <div>
                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                    </a>
                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-2 py-sm-0 mt-3">
                    <a href="{% url 'create-job' %}" class="nav-link">
                        <i class="fa-solid fa-circle-plus" style="width: 20px; height: 20px;"></i><span class="fs-6 ms-2 d-none d-sm-inline" >Create Job Listing</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'manage-jobs' %}" class="nav-link fw-bold"  style="background-color:  #E9EBFD; color: #372554;">
                        <i class="fa-solid fa-list-check" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Manage Jobs</span>
                    </a>
                </li>
                <hr>
                <p class="ms-3 py-2">Setting</p>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'recruit-change-pass' %}" class="nav-link">
                        <i class="fa-solid fa-key" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Change Password</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0 mb-3">
                    <a href="{% url 'recruit-change-profile' %}" class="nav-link">
                        <i class="fa-solid fa-pen-to-square" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Edit Profile</span>
                    </a>
                </li>
            </ul>
           
            
            
        </div>
        <div class="col-md-9">

            <div class="row justify-content-center py-5">
                <div class="col-md-11 mb-5">
                    <div  class="mt-2 mb-4" style="background-color: #F1F3F8;">
                        <div class="car-body">
            
                            <div class="mb-5 px-5 ">
            
                                <h2 class="card-title mb-1" style="color: #8A84E2;">Update Job</h2>
                                <span>Edit your Job Listing Details</span>
            
                            </div>

                            <form method="post" class="px-5">
                                {% csrf_token %}

                                <div class="row">
                                    <hr class="mb-5">

                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554; font-size: 23px;"><i class="fa-regular fa-building me-3"></i>Job Title</h5>
                                        <span>Edit role details to attract applicants</span>
                                    </div>
                                    <div class="col-md-7 ms-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label">Job Title</label>
                                            {% render_field form.title class="form-control  p-3 rounded-3" %}
                                        </div>
                                    </div><hr class="mb-5 mt-3">

                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554; font-size: 23px;"><i class="fa-solid fa-user-tie me-3"></i>Employment Details</h5>
                                        <span>Edit employment details.</span>
                                    </div>
                                    <div class="col-md-7 ms-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label">Job Type</label>
                                            {% render_field form.job_type class="form-control  p-3 rounded-3" %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label">Salary</label>
                                            {% render_field form.salary class="form-control  p-3 rounded-3" %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label">Industry</label>
                                            {% render_field form.industry class="form-control  p-3 rounded-3" %}
                                        </div>
                                    </div><hr class="mb-5 mt-3">

                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554; font-size: 23px;"><i class="fa-solid fa-earth-asia me-3"></i>Location</h5>
                                        <span>Edit the location of the company or workplace.</span>
                                    </div>
                                    <div class="col-md-7 ms-3 mb-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label">City</label>
                                            {% render_field form.city class="form-control p-3 rounded-3" %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label">Country</label>
                                            {% render_field form.state class="form-control  p-3 rounded-3" %}
                                        </div>
                                    </div><hr class="py-3">

                                    <div class="col-md-4">
                                        <h5 class="card-title mb-1" style="color: #372554; font-size: 23px;"><i class="fa-regular fa-rectangle-list me-3"></i></i>Skills</h5>
                                        <span>Edit required skills for the job.</span>
                                    </div>
                                    <div class="col-md-7 ms-3">
                                        <div class="mb-5">
                                            <label for="exampleInputEmail" class="form-label">Job Requirements</label>
                                            {% render_field form.requirements|attr:"row:2" class="form-control  p-3 rounded-3" %}
                                        </div>
                                        <div class="mb-5">
                                            <label for="exampleInputEmail" class="form-label">Ideal Candidate</label>
                                            {% render_field form.ideal_candidate|attr:"row:2" class="form-control  p-3 rounded-3" %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail" class="form-label">Is this Job Available</label>
                                            {% render_field form.is_available class="form-check-input" %}
                                        </div>
                                    </div>
                                </div><hr class="mb-5">
                                <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content rounded-3">
                                            <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body text-center">
                                            
                                                <img src="https://drive.google.com/uc?id=1ykRVB5kX1z6uhylyJxCBiKNwtd5snL3U" alt="" style="height: 100px; width: 100px;">
                                                <h4 class="mx-5 my-3 text-success">Confirm Modification</h4>
                                                <small>Make sure the information is correct</small>

                                            <div class="text-center px-5 mt-4 mb-3">
                                                <button type="submit" class="btn rounded-3 p- px-5 text-white btn-success">Confirm</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="text-end"><button type="button" class="btn rounded-3 p-2 text-white" style="width: 150px; background-color: #372554;" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://kit.fontawesome.com/e9e220f4bb.js" crossorigin="anonymous"></script>


{% endblock content %}