{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="alert alert-{{message.tags}}" role="alert">
    <b>{{message.0}}</b>
</div>
{% endif %}



<div class="container-fluid p-0">
    <div class="row flex-nowrap" style="max-height: 80%;">
        <!-- Sidebar -->
                    <div class="col-md-4 col-lg-3 min-vh-100 p-3 d-flex flex-column justify-content-between" style=" border-right: 2px solid #d4d4d4;">
                        <div class="p-2">
                            <div class="d-flex align-items-center" style="padding: 10px 10px 10px 12px; border-radius: 10px;">
                                <div class="rounded-circle overflow-hidden me-3" style="width: 50px; height: 50px; border: 2px solid #fff;">
                                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                                </div>
                                <div>
                                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                                    </a>
                                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                                </div>
                            </div>
                            <hr>
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item py-2 py-sm-0 mt-3 {% if request.resolver_match and request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                                    <a href="{% url 'dashboard' %}" class="nav-link">
                                        <i class="fa-solid fa-gauge" style="width: 20px; height: 20px;"></i><span class="fs-6 ms-2 d-none d-sm-inline" >Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item py-2 py-sm-0 mt-3 {% if request.resolver_match and request.resolver_match.url_name == 'manage-applicants' %}active{% endif %}">
                                    <a href="{% url 'manage-applicants' %}" class="nav-link">
                                        <i class="fa-solid fa-users" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Applicants</span>
                                    </a>
                                </li>
                                <li class="nav-item py-2 py-sm-0 mt-3 {% if request.resolver_match and request.resolver_match.url_name == 'manage-recruiters' %}active{% endif %}">
                                    <a href="{% url 'manage-recruiters' %}" class="nav-link">
                                        <i class="fa-solid fa-user-tie" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Recruiters</span>
                                    </a>
                                </li>
                                <li class="nav-item py-2 py-sm-0 mt-3 {% if request.resolver_match and request.resolver_match.url_name == 'admin-jobs' %}active{% endif %}">
                                    <a href="{% url 'admin-jobs' %}" class="nav-link">
                                        <i class="fa-solid fa-briefcase" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Job Listing</span>
                                    </a>
                                </li>
                                <li class="nav-item py-2 py-sm-0 mt-3 {% if request.resolver_match and request.resolver_match.url_name == 'manage-reports' %}active{% endif %}">
                                    <a href="{% url 'manage-reports' %}" class="nav-link">
                                        <i class="fa-solid fa-file-contract" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Reports</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END OF SIDEBAR -->

                    <div class="col-md-8 col-lg-9 p-5 mt-1">
                        <main class="main-content">

                            <div class="row">
                                <div class="col-md-9">
                                    <h2 style="font-size: 30px; font-weight: bold; padding-left: 10px; color: #372554; font-weight: bold;">Reports</h2>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn w-100" style="background-color: #8A84E2; color: #ffffff;">Generate Reports</button>
                                </div>

                            </div>
                            
                            <hr style="padding: 10px 5px;">        

                            <!-- REPORTS -->
                            <div class="row mt-2" style="max-width: 50%; margin: auto; ">
                                
                            </div>
                            <div style=" max-width: 100%; margin: auto; display: flex; padding-left: 10px;">
                                <div class="report-card">
                                    <p class="card-title">{{ applicants }} </p>
                                    <p class="small-desc">
                                        Total number of Applicants
                                    </p>
                                </div>    
                                <div class="report-card">
                                    <p class="card-title">{{ recruiters }}</p>
                                    <p class="small-desc">
                                        Total number of Recruiters
                                    </p>
                                </div>    
                                <div class="report-card">
                                    <p class="card-title">{{ jobs }}</p>
                                    <p class="small-desc">
                                        Total number of Job Listings
                                    </p>
                                </div>    
                            </div>
                            <!-- END OF REPORTS -->

                            <!-- Activity Logs -->
                            <div class="col-md-4 col-lg-3 mt-3" style="padding-left: 20px;">
                                <div class="card text-bg-light mb-3" style="width: 950px; height: 253px; overflow: auto;">
                                    <div class="card-header fw-bold">Activity Logs</div>
                                    <div class="card-body bg-white" style="height: 150px;">
                                        <table class="table table-nowrap">
                                            <thead>
                                                <tr class="align-middle">
                                                    <th scope="col" class="text-start">Time</th>
                                                    <th scope="col" class="text-center">Activity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for log in logs reversed %}
                                                <tr class="align-middle">
                                                    <td class="text-center fw-bold">{{ log.timestamp }}</td>
                                                    <td class="text-center">{{ log.details }}</td>
                                                </tr>
                                                {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 

                            <!-- Users -->
                            <div class="col-md-4 col-lg-3 mt-3" style="padding-left: 20px;">
                                <div class="card text-bg-light mb-3" style="width: 950px; height: 253px; overflow: auto;">
                                    <div class="card-header fw-bold">Users</div>
                                    <div class="card-body bg-white" style="height: 150px;">
                                        <table class="table table-nowrap">
                                            <thead>
                                                <tr class="align-middle">
                                                    <th scope="col" class="text-start">ID</th>
                                                    <th scope="col" class="text-center">Username</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user2 in userlist %}
                                                <tr class="align-middle">
                                                    <td class="text-center fw-bold">{{ user2.id }}</td>
                                                    <td class="text-center">{{ user2.username }}</td>
                                                </tr>
                                                {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 

                            <!-- Companies -->
                            <div class="col-md-4 col-lg-3 mt-3" style="padding-left: 20px;">
                                <div class="card text-bg-light mb-3" style="width: 950px; height: 253px; overflow: auto;">
                                    <div class="card-header fw-bold">Companies</div>
                                    <div class="card-body bg-white" style="height: 150px;">
                                        <table class="table table-nowrap">
                                            <thead>
                                                <tr class="align-middle">
                                                    <th scope="col" class="text-start">ID</th>
                                                    <th scope="col" class="text-center">Company</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for company in companylist reversed %}
                                                    {% if company.name is not None %}
                                                    <tr class="align-middle">
                                                        <td class="text-center fw-bold">{{ company.id }}</td>
                                                        <td class="text-center">{{ company.name }}</td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>     

                            <!-- Jobs -->
                            <div class="col-md-4 col-lg-3 mt-3" style="padding-left: 20px;">
                                <div class="card text-bg-light mb-3" style="width: 950px; height: 253px; overflow: auto;">
                                    <div class="card-header fw-bold">Jobs</div>
                                    <div class="card-body bg-white" style="height: 150px;">
                                        <table class="table table-nowrap">
                                            <thead>
                                                <tr class="align-middle">
                                                    <th scope="col" class="text-start">ID</th>
                                                    <th scope="col" class="text-center">Job</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for job in joblist %}
                                                <tr class="align-middle">
                                                    <td class="text-center fw-bold">{{ job.id }}</td>
                                                    <td class="text-center">{{ job.title }}</td>
                                                </tr>
                                                {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                                                 
                            <!-- Generate Reports Button -->
                    </main>
                     </div>
                </div>
            </div>



{% endblock content %}