{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="container-fluid p-0 " style="background-color: #F1F3F8;">
    <div class="row flex-nowrap">

        <!--  SIDE BAR   -->
        <div class="col-md-3 min-vh-100 px-5 py-3 d-flex flex-column" style=" border-right: 2px solid #d4d4d4; ">
            <div class="d-flex align-items-center" style="border-radius: 10px;">
                <div class="rounded-circle overflow-hidden me-3" style="width: 50px; height: 50px; border: 2px solid #fff;">
                    <!-- Dito malalagay image ng company-->
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                </div>
                <div>
                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                    </a>
                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-2 py-sm-0 mt-3">
                    <a href="{% url 'create-job' %}" class="nav-link">
                        <i class="fa-solid fa-gauge" style="width: 20px; height: 20px;"></i><span class="fs-6 ms-2 d-none d-sm-inline" >Create Job Listing</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'manage-jobs' %}" class="nav-link" >
                        <i class="fa-solid fa-users" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Manage Jobs</span>
                    </a>
                </li>
                <hr>
                <p class="ms-3 py-2">Setting</p>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'recruit-change-pass' %}" class="nav-link fw-bold" style="background-color:  #E9EBFD; color: #372554;">
                        <i class="fa-solid fa-user-tie" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Change Password</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0 mb-3">
                    <a href="{% url 'recruit-change-profile' %}" class="nav-link">
                        <i class="fa-solid fa-file-contract" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Edit Profile</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- DITO YUNG CONFIRM PASS -->

        <div class="col-md-9">
            <div class="container my-4 p-5">
                <div>
                    <h1>Settings</h1>
                </div>
                <div class="row m-5 ">
                    <hr class="mb-5">
                    <div class="col-md-4">
            
                        <h4>Change Password</h4>
            
                    </div>
                    <div class="col-md-7">
            
            
                        <form id="passwordForm">
            
                            <div class="form-group mb-3">
                              <label for="newPassword">Old Password</label>
                              <input type="password" class="form-control p-3 rounded-3 mt-2" id="newPassword" required>
                            </div>
                            <div class="form-group mb-3">
                              <label for="confirmPassword">New Password</label>
                              <input type="password" class="form-control p-3 rounded-3 mt-2" id="confirmPassword" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control p-3 rounded-3 mt-2" id="confirmPassword" required>
                            </div>
                            <div class="text-end"><button type="submit" class="btn rounded-3 p-2 text-white m-5" style="width: 150px; background-color: #372554;">Submit</button></div>
                        </form>    
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/e9e220f4bb.js" crossorigin="anonymous"></script>

{% endblock content %}