{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container-fluid p-0 " style="background-color: #F1F3F8;">
    <div class="row flex-nowrap">

        <!--  SIDE BAR   -->
        <div class="col-md-3 min-vh-100 px-5 py-3 d-flex flex-column" style=" border-right: 2px solid #d4d4d4; ">
            <div class="d-flex align-items-center" style="border-radius: 10px;">
                <div class="rounded-circle overflow-hidden me-3" style="width: 50px; height: 50px; border: 2px solid #fff;">
                    <!-- Dito malalagay image ng company-->
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                </div>
                <div>
                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                    </a>
                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-2 py-sm-0 mt-3">
                    <a href="{% url 'applied-jobs' %}" class="nav-link"> 
                        <i class="fa-solid fa-file-contract" style="width: 20px; height: 20px;"></i><span class="fs-6 ms-2 d-none d-sm-inline" >Job Applications</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'update-resume' %}" class="nav-link">
                        <i class="fa-solid fa-file-edit" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Create Resume</span>
                    </a>
                </li>
                <hr>
                <p class="ms-3 py-2">Setting</p>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'applicant-profile' %}" class="nav-link fw-bold" style="background-color:  #E9EBFD; color: #372554;" ><!-- NEW PAGE TO -->
                        <i class="fa-solid fa-user-tie" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">My Profile</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'applicant-change-pass' %}" class="nav-link" >
                        <i class="fa-solid fa-lock" style="width: 20px; height: 20px;"></i><span class="fs-6 d-none ms-2 d-sm-inline">Change Password</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- DITO YUNG EDIT PROFILE -->

        <div class="col-md-8 mx-5">
            <div class="container p-5">
                
                <div class="row">
                    <h1 class="col-md-10 mt-2" style="color: #8A84E2;">Settings</h1>
                    <!-- LAGYAN FUNCTION btn-->
                    <button type="button" class="btn btn-danger border-3 rounded-3 p-3 fw-bold"  style="width:max-content;;">Delete Account</button>
                </div>
                
                <hr class="mt-5 mb-5">

                <form action="post">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Profile Picture</h4>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="file" class="form-control rounded-3 mt-2" id="profilePic" name="profile_pic" onchange="previewImage(this)">
                            </div>
                            <div class="form-group text-center mt-5">
                                <!-- NAKA DISPLAY DITO CURRENT PIC -->
                                <img id="preview" src="#" alt="Profile Preview" class="img-fluid mx-auto d-block mt-2" style="width: 350px; height: 350px; display: none; border-radius: 30px;">
                            </div>
                        </div>
                        <hr class="mt-5">
                    </div>

                    <div class="row">
                        <div class="col-md-4 pt-4">
                            <h4>Profile Information</h4> <!--LAHAT NG INFO CONNECTED LANG SA RESUME-->
                        </div>

                        <div class="col-md-7"> <!--START NG EDIT PROFILE DETAILS-->

                            <div class="row mt-5">
                                <div class="form-group col mb-4">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control p-3 rounded-3 mt-2" id="firstName" name="first_Name">
                                </div>
                                <div class="form-group col mb-4">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control p-3 rounded-3 mt-2" id="lastName" name="last_Name">
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="contactPerson">Username</label>
                                <div class="col-auto">
                                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                    <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text p-3 rounded-3 mt-2">@</div>
                                      </div>
                                      <input type="text" class="form-control p-3 -3 mt-2" id="inlineFormInputGroup" placeholder="Username">
                                    </div>
                                  </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="emailAdd">Email Address</label>
                                <input type="text" class="form-control p-3 rounded-3 mt-2" id="emailAdd" name="email_Add" >
                            </div>

                            <div class="row mb-4">  
                                <div class="form-group col-md-6">
                                  <label for="inputCity">City</label>
                                  <input type="text" class="form-control p-3 rounded-3" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputState">State</label>
                                  <select id="inputState" class="form-control p-3 rounded-3">
                                    <option selected>Choose...</option> 
                                    <option>...</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputZip">Zip</label>
                                  <input type="text" class="form-control p-3 rounded-3" id="inputZip">
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="bday">Birthday</label>
                                <input type="date" class="form-control p-3 rounded-3 mt-2" id="bday" name="bday">
                            </div>
                        </div>
                        
                    </div>

                </form>

                <hr class="mt-5">
                <div class="text-end mt-4 ml-2">
                        <button type="button" class="col-md-3 btn btn-outline-danger border-3 rounded-3 p-3 fw-bold"  style="width: 150px;">Discard</button>
                        <button type="submit" class="col-md-3 btn rounded-3 p-3 text-white fw-bold" style="width: 150px; background-color: #372554; margin-left: 10px;">Save</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/e9e220f4bb.js" crossorigin="anonymous"></script>

    <script>
        function previewImage(input) {
          var preview = document.getElementById('preview');
          var file = input.files[0];
          var reader = new FileReader();
      
          reader.onload = function(e) {
            preview.src = e.target.result;
            preview.style.display = 'block';
          };
      
          if (file) {
            reader.readAsDataURL(file);
          }
        }
    </script>

  

{% endblock content %}