{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container-fluid p-0 " style="background-color: #F1F3F8;">
    <div class="row flex-nowrap">

        <!--  SIDE BAR   -->
        <div class="col-md-3 min-vh-100 px-5 py-3 d-flex flex-column" style=" border-right: 2px solid #d4d4d4; ">
            <div class="d-flex align-items-center" style="border-radius: 10px;">
                <div class="rounded-circle overflow-hidden me-3"
                    style="width: 50px; height: 50px; border: 2px solid #fff;">
                    <!-- Dito malalagay image ng company-->
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Profile Picture" class="w-100 h-100 object-fit-cover">
                </div>
                <div>
                    <a class="d-flex text-decoration-none mt-3 align-items-center">
                        <span class="fs-5 d-none d-sm-inline" style="color: #372554;">Welcome,</span><br>
                    </a>
                    <p style="color: #372554;">{{request.user.email}}<span>!</span></p>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item my-2 py-sm-0 mt-3">
                    <a href="{% url 'applied-jobs' %}" class="nav-link">
                        <i class="fa-solid fa-file-contract" style="width: 20px; height: 20px;"></i><span
                            class="fs-6 ms-2 d-none d-sm-inline">Job Applications</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'update-resume' %}" class="nav-link">
                        <i class="fa-solid fa-file-edit" style="width: 20px; height: 20px;"></i><span
                            class="fs-6 d-none ms-2 d-sm-inline">Edit Resume</span>
                    </a>
                </li>
                <hr>
                <p class="ms-3 py-2">Setting</p>
                <li class="nav-item my-2 py-sm-0">
                    <a href="{% url 'applicant-profile' %}" class="nav-link"><!-- NEW PAGE TO -->
                        <i class="fa-solid fa-user-tie" style="width: 20px; height: 20px;"></i><span
                            class="fs-6 d-none ms-2 d-sm-inline">My Profile</span>
                    </a>
                </li>
                <li class="nav-item my-2 py-sm-0">
                    <a href="#" class="nav-link fw-bold" style="background-color:  #E9EBFD; color: #372554;">
                        <i class="fa-solid fa-lock" style="width: 20px; height: 20px;"></i><span
                            class="fs-6 d-none ms-2 d-sm-inline">Change Password</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- DITO YUNG CHANGE PASS -->
        <div class="col-md-8 mx-5">
            <div class="container p-5">
                <h1 class="mt-2" style="color: #8A84E2;">Settings</h1>
                <hr class="mt-5 mb-5">

                <div class="row">

                    <form action="post"></form>
                    <div class="col-md-4">
                        <h4>Change Password</h4>
                    </div>

                    <div class="col-md-7">

                        <form id="passwordForm" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="{{ form.current_password.id_for_label }}">Old Password</label>
                                <div class="inlineFormInputGroup input-group mb-2">
                                    {% comment %} <input type="password" class="form-control p-3 rounded-3 mt-2"
                                        id="oldPass" required> {% endcomment %}
                                    {{ form.current_password }}
                                    <div class="input-group-append mt-2">
                                        <span class="input-group-text  p-4" onclick="togglePassVisib('oldPass')">
                                            <!--HIDE/SHOW PASS-->
                                            <i class="fas fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group mb-3">
                                <label for="{{ form.new_password.id_for_label }}">New Password</label>
                                <div class="inlineFormInputGroup input-group mb-2">
                                    {% comment %} <input type="password" class="form-control p-3 rounded-3 mt-2"
                                        id="newPass" required> {% endcomment %}
                                    {{ form.new_password }}
                                    <div class="input-group-append mt-2">
                                        <span class="input-group-text p-4" onclick="togglePassVisib('newPass')">
                                            <!--HIDE/SHOW PASS-->
                                            <i class="fas fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="password_requirements">
                                    <h6 id="length_con"><span class="length me-1" id="length">&#x2716;</span>be atleast
                                        8 characters
                                        but not more than 20</h6>
                                    <h6 id="case_con"><span class="case me-1" id="case">&#x2716;</span> contain at least
                                        one
                                        uppercase and lowercase letter</h6>
                                    <h6 id="number_con"><span class="number me-1" id="number">&#x2716;</span> contain at
                                        least one
                                        number</h6>
                                    <h6 id="special_con"><span class="special me-1" id="special">&#x2716;</span> contain
                                        one of the
                                        following characters: @ . # $ % ^ & , *</h6>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                                <div class="inlineFormInputGroup input-group mb-2">
                                    {% comment %} <input type="password" class="form-control p-3 rounded-3 mt-2"
                                        id="confirmPass" required> {% endcomment %}
                                    {{ form.confirm_password }}
                                    <div class="input-group-append mt-2">
                                        <span class="input-group-text p-4" onclick="togglePassVisib('confirmPass')">
                                            <!--HIDE/SHOW PASS-->
                                            <i class="fas fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>
                <hr class="mt-5">
                <div class="text-end mt-4 ml-2">
                    <!--LAGYAN FUNCTION YUNG BTN-->
                    <button type="submit" id="changepass_btn" class="col-md-3 btn rounded-3 p-3 text-white fw-bold"
                        style="width: 150px; background-color: #372554; margin-left: 10px;" disabled>Save</button>
                </div>
                </form>
            </div>

        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var passwordField = document.querySelector('#newPass');
        if (passwordField) {
            passwordField.addEventListener('keyup', function () {
                verify_password(this.value);
            });
        }

        function verify_password(password) {
            console.log('hey');
            document.querySelector(".length").style.opacity = 1;
            document.querySelector(".case").style.opacity = 1;
            document.querySelector(".special").style.opacity = 1;
            document.querySelector(".number").style.opacity = 1;
            let case_requirements = /^(?=.*[a-z])(?=.*[A-Z])/;
            let special_requirements = /(?=.*[@#$%^&,*.])/;
            let number_requirements = /(?=.*\d)/;


            if (password.length >= 8 && password.length <= 16) {
                document.getElementById("length").innerHTML = "&#x2714";
                document.getElementById("length_con").style.color = "green";
            } else {
                document.getElementById("length").innerHTML = "&#x2716";
                document.getElementById("length_con").style.color = "red";
            }

            if (password.match(case_requirements)) {
                document.getElementById("case").innerHTML = "&#x2714";
                document.getElementById("case_con").style.color = "green";
            } else {
                document.getElementById("case").innerHTML = "&#x2716";
                document.getElementById("case_con").style.color = "red";
            }

            if (password.match(special_requirements)) {
                document.getElementById("special").innerHTML = "&#x2714";
                document.getElementById("special_con").style.color = "green";
            } else {
                document.getElementById("special").innerHTML = "&#x2716";
                document.getElementById("special_con").style.color = "red";
            }

            if (password.match(number_requirements)) {
                document.getElementById("number").innerHTML = "&#x2714";
                document.getElementById("number_con").style.color = "green";
            } else {
                document.getElementById("number").innerHTML = "&#x2716";
                document.getElementById("number_con").style.color = "red";
            }

            if ((password.length >= 8 && password.length <= 16) && password.match(case_requirements) && password.match(special_requirements) && password.match(number_requirements)) {
                document.querySelector(".password_requirements").classList.remove("password_requirement_active");
                document.getElementById('changepass_btn').disabled = false;
            }
            else {
                document.querySelector(".password_requirements").classList.add("password_requirement_active");
                document.getElementById('changepass_btn').disabled = true;
            }
        }
    });
</script>

<script src="https://kit.fontawesome.com/e9e220f4bb.js" crossorigin="anonymous"></script>

<script> //IMAGE PREVIEW
    function previewImage(input) {
        var preview = document.getElementById('preview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            preview.src = e.target.result;
            preview.style.display = 'block';
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

<script>
    function togglePassVisib(inputId) {
        var inputElement = document.getElementById(inputId);

        if (inputElement.type === "password") {
            inputElement.type = "text";
        } else {
            inputElement.type = "password";
        }
    }
</script>


{% endblock content %}