<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="" crossorigin="anonymous">
    <title>Django Job Portal - Login</title>
    <style>
        
        .rightside, .leftside{

            height: 100vh;
            width: 100%;

        }
        
    </style>
</head>
<body>
    <div>
        <div class="row no-gutters">

            <div class="rightside col-md-5 bg-black no-gutters">
                <h1 class="display-4 fw-bold lh-1 mb-3">Empowering future by bridging careers</h1>
                <p class="col-lg-10 fs-4">
                    Explore, connect, and succeed with Jobbl, where we empower you to unlock your full potential and shape a future that aligns with your aspirations.
                </p>
            </div>

            <div class="leftside col-md-7 bg-success no-gutters">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    <b>{{message}}</b>
                </div>
                {% endfor %}
                {% endif %}
    
                {% block content %}
                {% endblock content %}
            </div>

        </div>
    </div>
</body>
</html>
