{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div>

    <div class="text-center pb-2">

        <h1 style="font-weight: bold; color: #202430; ">Create an Account</h1>
        <span>Sign up to find jobs that is suitable for your skills.</span>

    </div>


</div>
<div style="width: 600px; max-width: 100%;">

    <form class="p-4 p-md-5" method="POST"action="">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="floatingInput">Username</label>
            {% render_field form.username class="form-control p-3 mt-2 rounded-3" placeholder="Enter Username" %}
        </div>
        <div class="form-group mb-3">
            <label for="floatingInput">Email Address</label>
            {% render_field form.email class="form-control p-3 mt-2 rounded-3" placeholder="Enter Email" %}
        </div>
        <div class="form-group mb-3">
            <label for="floatingInput">Password</label>
            {% render_field form.password1 class="form-control  p-3 mt-2 rounded-3" placeholder="Enter password" %}
        </div>
        <div class="form-group mb-3">
            <label for="floatingInput">Confirm Password</label>
            {% render_field form.password2 class="form-control  p-3 mt-2 rounded-3" placeholder="Confirm password" %}
        </div>
        <div class="form-group mb-3">
            <input type="checkbox" class="form-check-input" id="{{ form.receive_alerts.id }}" name="{{ form.receive_alerts.name }}" {% if form.receive_alerts.value %}checked{% endif %}>
            <label for="exampleInputEmail" class="form-label">Receive new job alerts?</label>
        </div>
        
        <button class="w-100 btn btn-lg mt-2 mb-4 rounded-3 p-2 text-white" style="background-color: #372554;" type="submit">Sign Up</button>
        <div class="text-center">

            <small class="text-muted">Already have an account? <a href="{% url 'login' %}"  style="text-decoration: none; color: #372554; font-weight: bold;">Sign in</a></small>
        </div>
    </form>

</div>

{% endblock content %}